@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto+Serif:ital@1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto:wght@300&display=swap');

*{ /*universal selector*/
	list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html {
	 scroll-snap-type: y mandatory;
}
body{
    background: white;
}

.sidebar{
    background: white; /*colors picked from hex value generator*/
    /*defining sidebar dimensions*/
    position: fixed;
    top: 0;
  	left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    border-right: 2px solid #ff8000;
    /*to control speed at which bar shows up*/
    transition: all 0.9s ease;
}

.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #ff8000;
    color: #e67300;
    font-size: 20px;
    position: relative;
}

.sidebar .icon{
    color: #ff8000;
    width: 30px;
    display: inline-block;
}


.sidebar ul li a:hover{ /*if hover over ul, li, or a tags specifically*/
    color: white;
    background: #ff8000;
    border-right: 2px solid #ff8000;
}

.sidebar ul li a:hover .icon{
    color: white;
}

.header { /*defining dimensions for page with the sidebar toggled on inititally*/
	position: absolute;
	top: 0px;
    margin-left: 225px;
    font-size: 22px;
    /*adding transition to synch with sidebar*/
    transition: all 0.9s ease;
    width: calc(100% - 225px); /*to keep width fixed regardless of siderbar toggle*/
}

.navbar{
	/*defining dimensions for header bar*/
    background: white;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.bars a{
    color: #ffa64d;
}

.bars a:hover{ /*if hovering over the bar icon*/
    color: #e67300;
}




 /*#main{
	display:  flex;
	column and flex:1 to make every section fit into a column
	flex-direction: column;
	flex:  1;
	align-items: center;
	font-size: 25px;
	margin-top: 80px;
	margin-left: 225px;
    adding transition to synch with sidebar
    transition: all 0.5s ease;
    width: calc(100% - 225px); /*to keep width fixed regardless of siderbar toggle
}  */

.panel {
	display: flex;
	flex-direction: column;
	margin: 40px;
	margin-left: 225px;
	width: calc(100% - 225px);
	justify-content: center;
	scroll-snap-align: center;
	transition: all 0.9s ease;
    scroll-snap-stop: center;
}

.subpanel{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: right;
	text-align: right;
	margin-top: 20px;
}
#pan1 {
	position: relative;
}
.pan1-back {
	position: relative;
}

.pan1-front {
	position: absolute;
	z-index: 2;
	max-width: 30%;
	max-height: 38%;
	top: calc(40%);
	left: calc(23%);
	transition: transform 0.9s ease;
}

#click {
	position:  absolute;
	z-index: 2;
	max-width: 8%;
	max-height: 10%;
	top: 66%;
	left: 34%;
}
.img1{
	flex: 1;
	text-align: right;
	margin-left: 4.5%;
}
.img2{
	flex: 1;
	text-align: center;
}
.img3{
	flex: 1.5;
	text-align: left;
	margin-right: 2%;
}

.img1 img, .img2 img, .img3 img {
	height: 90%;
	width:85%;
}

#pan3 {
	position: relative;
}
.pan3-back {
	position: relative;
}

.pan3-front {
	position: absolute;
	z-index: 2;
	max-width: 200px;
	max-height: 200px;
	transition: transform 0.9s ease;
}
#playful-Bark {
	position: absolute;
	z-index: 2;
	max-width: 45%;
	max-height: 65%;
	top: calc(21.8%);
	left: calc(8.95%);
	display: none;
}
#no-food {
	top: calc(57%);
	left: calc(35%);
}
#food {
	display: none;
	top: calc(57%);
	left: calc(35%);
}

#beef {
	top: calc(57%);
	left: calc(50%);
}

#chicken {
	top: calc(57%);
	left: calc(60%);
}
#fish {
	top: calc(57%);
	left: calc(70%);
}

.img4{
	flex: 1;
	text-align: right;
	margin-left: 5%;
}
.img5{
	flex: 1.25;
	text-align: center;
}
.img6{
	flex: 1;
	text-align: left;
	margin-right: 4%;
}

.img4 img, .img5 img, .img6 img {
	height: 90%;
}

#pan0{ /* IMPORTANT */
	margin-top: -80px;
	/* ADDING PADDING TO BOTTOM TAKES LAST PANEL OUT OF FRAME */
}

/* #pan6{
	padding-bottom: 50px;
} */

.panel img{
	flex: 1;
	width: 70%;
	align-self: center;
}

.wrapper{
	margin-top: 120px;
}

#team{
	margin-bottom: 250px;
}

.content{
	display: flex;
}

.cast{
	display: flex;
	margin: 20px;
}
.person{
	flex: 1;
}

.person div{
	text-align: center;
	font-family: 'Roboto Serif', serif;
	font-size: 20px;
	color: #ff8000;
	padding: 10px;
	font-weight: 600;
}

.person .cont{
	text-align: center;
	font-family: 'Roboto', serif;
	color: #ff8000;
	padding: 10px;
	font-weight: 600;
	margin-left: 100px;
	margin-right: 100px;
}

.person img{
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 10%;
	margin:  0 auto;
}

.person iframe{
	display: block;
	padding-top: 20px;
	margin:  0 auto;
}


#pan0 .subpanel a {
  	padding-bottom: 80px;
}
#pan0 .subpanel a span{
  position: absolute;
  top: calc(100% - 250px);
  left: calc(100% - 650px);
  width: 2.5%;
  height: 7%;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
  transition: all 0.9s ease;
}
#pan0 .subpanel a span::before {
  position: absolute;
  top: 10px;
  left: 54%;
  content: '';
  width: 12%;
  height: 10%;
  margin-left: -3px;
  background-color: black;
  border-radius: 100%;
  box-sizing: border-box;
	-webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



body.active .sidebar{ /*if sidebar is active*/
    left: -225px;
}

body.active .header, body.active .main, body.active .panel{ /*if sidebar is not active*/
    margin-left: 0px;
    width: 100%;
}

body.active .pan1-front{
	top: 43%;
	left: 23%;
}
body.active #pan0 .subpanel a, body.active #pan0 .subpanel a span{
	top: 80%;
  left: 50%;
}

body.active .pan3-front{
	top: 50px;
	left : -70px;
}
body.active #click{
	top: 68%;
	left: 34%;
}

#pan6 {
	position: relative;
}

.pan6-back {
	position: relative;
}

.scrollup {
  max-width:  360px;
  max-height: 360px;
  z-index: 2;
  position: absolute;
  display: none;
  bottom: calc(55.2%);
  left: calc(6.7%);
}
